* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

.top {
    background-color: #70142E;
    height: 45px;
    width: 580px;
    margin-left: 700px;
    border-radius: 0px 0px 0px 50px;
}

.top nav ul {
    display: flex;
    margin-left: 40px;
}

nav ul li {
    padding: 15px;
    list-style: none;
}

nav ul li:hover {
    background-color: white;


    a {
        color: #70142E
    }

    ;
    cursor: pointer;

}

nav ul li a {
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.second {
    /* background-color:rgb(183, 176, 176); */
    height: 80px;
    margin-top: 30px;
    display: flex;
}

.second img {
    height: 70px;
    margin-left: 20px;
}

.secondnav {
    padding: 15px;
    margin-left: 50px;
    margin-top: -16px;

}

.secondnav a {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 17px;

}

.secondnav a:hover {
    color: #70142E;
    cursor: pointer;
}

.secondnav button {
    height: 50px;
    width: 135px;
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: #70142E;
    color: white;
    margin-left: 15px;
    cursor: pointer;

}

.secondnav button:hover {
    background-color: blue;
}

/* .image {
    background: url("option1.jpeg") center / cover no-repeat;
    height: 100vh;
    width:100%;
    background-color: grey;
    height: 477px;
    width: auto;
    opacity: 20px;

} */

/* h1 {
    color: white;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    padding-top: 110px;
    margin-left: 130px;
    font-weight: 800;
    font-size: 40px;
    word-spacing: 5px;
    line-height: 2.0;
    

}  */

.slideshow {
    width: 1280px;
    height: 477px;
    overflow: hidden;
    position: relative;
    filter: brightness(55%);
}

.slideshow img {
    width: 100%;
    height: 100vh;
    position: absolute;
    animation: slideShow 9s infinite;
}


.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 3s;
}

.slideshow img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slideShow {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.word h1 {
    margin-left: 510px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

.controll {
    display: flex;
}

.controll input {
    height: 50px;
    width: 420px;
    margin-left: 350px;
    margin-top: 45px;
    border: solid 1px black;
}

.controll button {
    height: 50px;
    width: 60px;
    background-color: black;
    border: none;
    margin-top: 45px;

}

i {
    color: white;
    font-size: 10px;
    font-size: 20px;
}

.useless {
    background-color: rgb(210, 173, 173);
    height: 2000px;
    margin-top: 1000px;
}

.controll input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
}

.cont-d1 {
    /* background-color: blue; */
    margin-top: 40px;
    height: 330px;
    display: flex;
    gap: 20px;
    margin-left: 55px;
    overflow: hidden;
}

.cont-d1 img {
    height: 280px;
    width: 280px;
    display: block;
    transition: transform 0.3s ease;
}
 

.p1 h3 {
    margin-top: -70px;
    margin-left: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute; 
    z-index: 2; 

}

.p2 h3, 
.p3 h3,
.p4 h3 {
    margin-top: -50px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 900;
    position: absolute; 
    z-index: 2; 


}
img:hover,
img:hover,
img:hover,
img:hover {
    transform: scale(1.1);
}
.p1,.p2,.p3,.p4{
    background-color: green;
    height: 280px;
    width: 280px;
    overflow: hidden;
border-radius: 6px 6px 6px 6px;

}
.cont-d2{
    /* background-color: grey; */
    height: 80px;
    display: flex;
    width: 1150px;
    margin-left: 60px;
    margin-top: -30px;
}
.cont-d2 h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-size: 20px;
margin: 12px;

}
.cont-d2 button{
    height: 40px;
    width: 220px;
    margin-left: 100px;
    margin: 10px;
}
.cont-d2 a{
    text-decoration: none;
    color:#70142E;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cont-d2 button{
       border-radius: 6px 6px 6px 6px ;
       border: none;
       background-color: rgb(228, 222, 222);
}
.cont-d2 button:hover{
    background-color: #70142E;
    border: none;
   a{
    color: white;
   }
}
.cont-d3{
    background-color:  rgb(228, 222, 222);
    height: 150px;
    width: 1110px;
    margin-left: 80px;
    border-radius: 7px 7px 7px 7px;
    margin-top: 30px;
}
.cont-d3 h3{
    margin-left: 140px;
    position: relative;
    top: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.cont-d3 button {
    height: 50px;
    width: 155px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: #70142E;
    color: white;
    margin-left: 820px;
    margin-top: 10px;
    cursor: pointer;

}

.cont-d3 button:hover {
    background-color: blue;
}
.cont-d4{
    background-color: white;
    height: 300px;
    width: 1020px;
    margin-top: 60px;
    margin-left: 120px;
}
.cont-d4 h1{
  margin-left: 300px;
}
.cont-d4 h4{
    font-size: 20px;
    margin-left: 220px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont-d4 p{
    margin-top: 50px;
    margin-left: 80px;
     line-height: 1.5;
     font-size: 16px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: #444;
}
.cont-d5{
    /* background-color: #70142E; */
    height: 420px;
    width: 1020px;
    margin-top: 30px;
    margin-left: 120px;
    display: flex;
    
}
.cont-d5 button{
    text-decoration: none;
    color: #70142E;
    background-color:orange;
    height: 30px;
    width: 320px;
    border: none;
    margin-top: 10px;
}
.cont-d5 button a{
    text-decoration: none;
    color: #70142E;
    font-size: 15px;
}
.cont-d5 button a:hover{
    color:rgb(94, 94, 225);
}

.firstpc{
    height: 420px;
    width: 320px;
    /* background-color: greenyellow; */
}
.firstpc img{
    height: 380px;
    width: 320px;

}
.firstpc img:hover{
transition: none;
transform: none;
}

.secondpc{
  height: 420px;
    width: 320px;
    margin-left: 30px;
    /* background-color: skyblue; */
}
.secondpc img{
    height: 380px;
    width: 320px;

}
.secondpc img:hover{
transition: none;
transform: none;
}
.thirdpc{
  height: 420px;
    width: 320px;
     margin-left: 30px;
    /* background-color: cyan; */
}
.thirdpc img{
    height: 380px;
    width: 320px;

}
.thirdpc img:hover{
transition: none;
transform: none;
}
.cont-d6 h1{
    margin-left:380px;
}
#News{
    height: 60px;
    width: 120px;
    margin-left: 460px;
    margin-top: 40px;
    background-color: #70142E;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
#Events{
       height: 60px;
    width: 120px;
    margin-left: 10px; 
    border: none;
    font-size: 16px;
    background-color:rgb(228, 222, 222) ;
    cursor: pointer;
}
#Events:hover{
    color: #70142E;
}
.cont-d7{
    /* background-color: blue; */
    height: 400px;
    width: 1130px;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    
}
.d7pc1{
    /* background-color: rgb(60, 20, 20); */
    height: 395px;
    width: 355px;
    overflow: hidden;
}
.d7pc1 img{
    height: 385px;
    width: 355px;

}
.d7pc2{
    /* background-color: green; */
    height: 395px;
    width: 355px;
    margin-left: 30px;
    overflow: hidden;
}
.d7pc2 img{
    height: 395px;
    width: 355px;
}
.d7pc3{
    /* background-color: orange; */
    height: 395px;
    width: 355px;
        margin-left: 30px;
        overflow: hidden;
}
.d7pc3 img{
    height: 395px;
    width: 355px;
}
.white{
    background-color:white;
    height: 180px;
    width: 355px;
  position: relative;
  margin-top: -170px;
  
}
.lastbutton button{
    height: 60px;
    width: 220px;
    margin-left: 490px;
    margin-top: 40px;
    background-color: #70142E;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px; 
}
.lastbutton button:hover{
    background-color: rgb(81, 81, 182);
}

